<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a [routerLink]="['']" class="brand-logo">Logo</a>
        <!-- NAV DESKTOP -->
        <ul class="right hide-on-med-and-down">
          <li *ngFor="let category of categories; let categoryIndex = index">
            <a *ngIf="!hasChildren(category.children)" [routerLink]="createCategoryLink(category)">
              {{category.name}}
            </a>

            <a materialize="dropdown" *ngIf="hasChildren(category.children)" class="dropdown-button" [materializeActions]="updateMenu"
              [attr.data-activates]="'dropdown_' + categoryIndex" (mousedown)="updateDropdown()">{{category.name}}</a>
            <ul [id]="'dropdown_' + categoryIndex" *ngIf="category.children" class='dropdown-content'>
              <li>
                <a [routerLink]="createCategoryLink(category)">{{category.name}}</a>
              </li>
              <li *ngFor="let child of category.children">
                <a [routerLink]="createCategoryLink(child)">{{child.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
        <!-- NAV DESKTOP -->
        <!-- NAV MOBILE -->
        <ul class="side-nav" id="mobile-menu">
          <li *ngFor="let category of categories; let categoryIndex = index">
            <a  *ngIf="!hasChildren(category.children)" [routerLink]="createCategoryLink(category)">
              {{category.name}}
            </a>
            <ul *ngIf="hasChildren(category.children)" class="collapsible collapsible-accordion">
              <li>
                <a class="collapsible-header">
                  {{category.name}}
                  <i class="material-icons right">arrow_drop_down</i>
                </a>
                <div class="collapsible-body">
                  <ul>
                    <li>
                      <a [routerLink]="createCategoryLink(category)">{{category.name}}</a>
                    </li>
                    <li *ngFor="let child of category.children">
                      <a *ngIf="!(category.name==child.name)" [routerLink]="createCategoryLink(child)">{{child.name}}</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <a href="#" materialize="sideNav" data-activates="mobile-menu" class="button-collapse">
          <i class="material-icons">menu</i>
        </a>
        <!-- NAV MOBILE -->
      </div>
    </nav>
  </div>
</header>
